{{define "filter"}}
<form class="form-search-filter" action="/search" method="get" name="filter-form">
    <div class="filter-area">
        <div class="filter-button-area">
            <div class="dropdown">
                <div class="dropbtn">Branch</div>
                <div class="dropdown-content">
                    {{range .Manufacturers}}
                    <div class="list-items"> 
                        <input class="manufacture-item" type="checkbox" id="{{.}}" name="manufacturer" value="{{.Id}}">
                        <label for="{{.}}" class="manufacture-item-label">{{.Name}}</label>
                    </div> 
                    {{end}}
                    <!-- <button class="empty-button" type="submit" name="action" value="clearManufacturer">Clear</button> -->
                    <button class="accept-button" type="submit" name="action" value="acceptManufacturer">Accept</button>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn">Category</div>
                <div class="dropdown-content">
                    {{range .Categories}}
                    <div class="list-items">  
                        <input class="manufacture-item" type="checkbox" id="{{.}}" name="category" value="{{.Id}}">
                        <label for="{{.}}" class="manufacture-item-label">{{.Name}}</label>
                    </div> 
                    {{end}}
                    <!-- <button class="empty-button" type="submit" name="action" value="clearCategory">Clear</button> -->
                    <button class="accept-button" type="submit" name="action" value="acceptCategory">Accept</button>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn">Model</div>
                <div class="dropdown-content">
                    {{range .Models}}
                    <div class="list-items"> 
                        <input class="manufacture-item" type="checkbox" id="{{.}}" name="model" value="{{.Name}}">
                        <label for="{{.}}" class="manufacture-item-label">{{.Name}}</label>
                    </div> 
                    {{end}}
                    <!-- <button class="empty-button" type="submit" name="action" value="clearModel">Clear</button> -->
                    <button class="accept-button" type="submit" name="action" value="acceptModel">Accept</button>
                </div>
            </div>
        </div>
        <button class="button search-button" type="submit" name="action" value="search">Search</button>
    </div>
</form>
{{end}}